html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
::-webkit-input-placeholder {
        /* WebKit browsers */
        color:#F2785C;
    }

:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color:#F2785C;
}

::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color:#F2785C;
}

:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color:#F2785C;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Magra', sans-serif;
    font-family: 'Aleo', serif;
    font-weight: 400;
    margin: 0;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: top;
}
.header {
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.menu{
    min-height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    width: 30px;
    height: 30px;
    margin: 0 6px;
}
.text_logo {
    font-family: 'Magra';
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}
.nav_list {
    display: flex;
    list-style: none;
    padding-left: 15px;
    padding-right: 90px;
}
.nav_item {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.nav_link {
    padding: 0 20px;
	line-height: 50px;
	transition: .4s;
}
.login {
    border: hidden;
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 2px 3px rgba(13, 96, 111, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none; 
}
.prewiew {
    padding: 32px 0 0 120px; 
}
.main_title {
    font-weight: bold;
    font-size: 80px;
    text-align: left;
    color:#FFFFFF;
}
.h4 {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    letter-spacing: .5px;
    color:#FFFFFF;
    padding-top: 32px;
}
.search {
    max-width: 892px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text {
    width: 560px;
    height: 22px;
    font-family: Aleo;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    border: hidden;
    background: none;
    margin-left: 35px;
}
.submit {
    border: hidden;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 2px 3px rgba(13, 96, 111, 0.16), 0px 0px 3px rgba(13, 96, 111, 0.08);
    border-radius: 10px; 
    margin-right: 20px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;   
}
.submit_link {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.steps {
    padding: 334px 0 0 0;
}
.subtitle {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    text-align: center;
    text-transform: uppercase;
}
.steps_grid {
    padding-top: 36px;
    display: grid;
    grid-template-columns: 372px 332px 354px;
    justify-content: space-evenly;
}
.steps_item {
    max-width: 317px;
    text-align: center;
}
.steps_img {
    width: 100px;
    height: 100px;
    background-color:#F2785C;
    padding: 23px;
    border-radius: 16px;
    margin: 0 auto 30px;
}    
.steps_link {
    font-size: 20px;
    color: #0D606F;
    text-decoration: none;
}
.destinations {
    margin-top: 97px;
    overflow: hidden;
}
.destinations_grid {
    display: grid;
    grid-template-columns: repeat(3, 800px);
    justify-content: center;
    gap: 60px;
    margin: 46px 0 0;
}
.destinations_item {
    position: relative;
    text-align: center;
}
.destinations_img {
    width:100%;
    border-radius: 16px;
}
.img_text {
    position: absolute;
    bottom: 46px;
    left: 16px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slider_list {
    margin-right: 50px;
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 35px; 
}
.slider_item {
    padding-left: 10px;    
}
.find_more {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 2px 3px rgba(13, 96, 111, 0.16), 0px 0px 3px rgba(13, 96, 111, 0.08);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 5px;
}
.stories {
    padding: 82px 0 0 0;
}
.stories_container {
    padding-top: 50px;
    padding-bottom: 40px;
    max-width: 1201px;
    margin: 0 auto;
}
.div_stories {
    display: flex;
    padding-top: 28px;
}
.img_stories {
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 1)
}
.div_text {
    padding-left: 40px;
}
.stories_title {
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 35px;
    color: #0D606F;
    letter-spacing: .01px;
}
.p_stories {
    font-size: 20px;
    color: #0D606F;
}
.a_stories {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 20px;
    color: #0D606F;
}
.see_more {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 2px 3px rgba(13, 96, 111, 0.16), 0px 0px 3px rgba(13, 96, 111, 0.08);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}
.footer {
    height: 61px;
    margin-top: 32px;
}
.div_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.div_git {
    width: 230px;
}
.logo_footer {
    height: 34px;
}
.footer_text {font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    color:#FFFFFF;
}
.social_list {
    display: flex;
    width: 230px;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    list-style: none;
}
.img_social {
padding-left: 20px;
}


